html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  background: #fffafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

section {
  padding: 1em 1em 7rem;
}

#header {
  background: #0378A6;
  padding: 10px;
}

#container {
  position: relative;
  min-height: 94vh;
}

#content-wrap {
  padding-bottom: 0;
  min-height: 94vh;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 6rem;
  background-color: #1a1a1a;
  padding: 1rem;
  text-align: center;
}

.admin-home #container {
  background: url('../assets/images/admin-bg.jpg') no-repeat center center;
  background-size: cover;
}

.user-home #container {
  background: url('../assets/images/home-bg.jpg') no-repeat center center;
  background-size: cover;
}

a {
  cursor: pointer;
}


/* ------------------------------
 Nav
------------------------------*/

.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header img {
  height: 50px;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 15px;
}

.nav>.nav-links .active {
  color: #c0bdff;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  border-radius: 5px;
}

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav>.nav-links>a {
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #aaa;
  }
  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked~.nav-links {
    height: calc(30vh);
    overflow-y: auto;
    z-index: 999999;
  }
}


/* ------------------------------
 Sign up and Log in page
------------------------------*/

.signup-content {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 7px;
  border: 1px solid #ccc;
  background: rgb(255, 255, 255, 0.6);
  padding: 10px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.signup-width {
  max-width: 100%;
}

input[type=text],
input[type=password],
input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #e2e2e2;
}

.required {
  color: #F25056;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #e2e2e2;
}

.signup-content button {
  background-color: #0378A6;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-left: 10px;
  font-size: 1.5em;
}

.signin-content button {
  margin-left: 0;
}

button:hover {
  opacity: 1;
}

.signupbtn {
  float: left;
  max-width: 310px;
}

.clearfix::after {
  content: "";
  clear: initial;
  display: table;
}

.left-div {
  vertical-align: top;
}

.left-text,
.right-text {
  text-align: left;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  max-width: 330px;
  color: #333;
}

.signup-footer {
  margin: 0px;
  width: 100%
}

.signup-footer p {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .left-div,
  .right-div,
  .signup-footer {
    display: inherit;
  }
  .signup-content button {
    margin-left: 10px;
  }
  .signin-content button {
    margin-left: 0px;
  }
  .signup-content {
    margin: 2em 0;
  }
}


/* ------------------------------
 homepage
------------------------------*/

.content-div {
  margin: 0 auto;
  display: table;
  height: 100vh;
  overflow: hidden;
}

.card-large {
  width: 100%;
  font-size: 1.1em;
}

.home-div {
  height: 90vh;
}

.home-bg {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
  overflow: hidden;
}

.centered {
  display: table-cell;
  vertical-align: middle;
}

.centered-x {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 28px
}

.horizontal {
  display: inline-flex;
}


/* ------------------------------
 Dashboard & Profile
------------------------------*/

.dashboard-card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  display: inline-block;
  background: #0378a6;
  color: #f3f3f3;
  margin: 1em;
}

.dashboard-card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-card {
  padding: 2px 16px;
}

.profile-card {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .dashboard-card-container {
    width: 60%;
  }
  .centered-x {
    width: 100%;
  }
}


/* ------------------------------
 Dialog box
------------------------------*/

.popup1-trigger {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20vh auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #0378A6;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}


/* ------------------------------
 Tables
------------------------------*/

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em auto;
}

tr:nth-of-type(odd) {
  background: #dedbe8;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  word-break: break-word;
}

table tr:hover {
  cursor: pointer;
  background: rgb(118, 167, 187);
}


/** styling for mobile **/

@media only screen and (max-width: 600px),
(min-width: 600px) and (max-width: 1024px) {
  table {
    width: 100%;
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 1.1em auto;
    background: #dedbe8;
  }
  table tr:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
    word-break: break-word;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    left: 0;
    padding-left: 0.8em;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}


/* ------------------------------
 Cards
------------------------------*/

.page-title {
  padding: 0.5em 1em
}

.card-container {
  padding: 10px;
  display: inline-grid;
  grid-template-columns: 10em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 1em auto;
  max-width: 700px;
  width: 650px;
  background: #f1f1f1;
  padding-bottom: 0.5em;
}

.card-content {
  padding: 1em;
}

.card-content p {
  display: flex;
}

.card .first {
  background: #0378A6;
  color: #f1f1f1
}

.card .entry-value {
  width: 68%;
}

.card .entry-title {
  width: 32%;
  float: left;
  font-weight: 600;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 760px) {
  .card {
    max-width: 100%;
    word-break: break-word;
  }
}


/* ------------------------------
 Select Options
-------------------------*/

.filter-title {
  width: 55px;
  float: left;
  padding: 5px 0;
}

.filter {
  background: #339CC6 url('../assets/images/select-option.png') no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  margin-bottom: 1em;
}

.filter select {
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blue select {
  color: #313131;
}


/* ------------------------------
 Pagination
------------------------------*/

.pagination-center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #313131;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #0378A6;
  color: #ffffff;
}

.pagination a:hover:not(.active) {
  background-color: rgb(182, 182, 182);
}


/* ------------------------------
 Widgets
------------------------------*/

.cta {
  display: -webkit-inline-box;
}

.cta-div {
  margin: 1em 0;
}

.cta a {
  cursor: pointer;
}

.profile-btn a {
  margin-left: 1em;
}

.text-white {
  color: #f1f1f1;
}

.btn-danger {
  border-radius: 5px;
  display: block;
  max-width: 55px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background: #F25056;
  color: #f1f1f1;
  border: 0;
  margin-left: 0.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger-big {
  max-width: 120px;
  min-width: 90px;
  font-size: 13px;
  line-height: 35px;
}

.btn-success {
  border-radius: 5px;
  display: block;
  max-width: 55px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background: rgb(1, 150, 13);
  color: #f1f1f1;
  border: 0;
  margin-left: 0.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-success-big {
  max-width: 120px;
  min-width: 90px;
  font-size: 13px;
  line-height: 35px;
}

.btn-primary {
  border-radius: 5px;
  display: block;
  max-width: 55px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background: #0378A6;
  color: #f1f1f1;
  border: 0;
  margin-left: 0.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary-big {
  max-width: 120px;
  min-width: 90px;
  font-size: 13px;
  line-height: 35px;
}

.btn-apply {
  font-size: 1.5em;
  margin-left: 0px;
  display: inline;
  padding: 0.7em;
}

.btn-primary,
.btn-danger,
.btn-success {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 430px) {
  .btn-primary-big,
  .btn-danger-big,
  .btn-success-big {
    min-width: 120px;
  }
}


/* ------------------------------
 Footer
------------------------------*/


/* #footer {
  position: absolute;
  bottom: 0;
   width:100%;
   height:60px;   /* Height of the footer */


/* background: #313131;
  color: #ffffff;
  padding: 1.5em 0; 
  text-align: center;
} */